[Desktop Entry]
Categories=
Comment=Instalador Comprobantes Offline
Comment[es]=Instalador Comprobantes Offline
Exec=/home/todaraba/Documentos/sicofac/ComprobantesElectronicosOffline/run.sh
GenericName=
GenericName[es]=
Icon=/home/todaraba/Documentos/sicofac/ComprobantesElectronicosOffline/Icons/logo.ico
MimeType=
Name=COMPROBANTES ELECTRONICOS OFFLINE
Name[es]=COMPROBANTES ELECTRONICOS OFFLINE
Path=/home/todaraba/Documentos/sicofac/ComprobantesElectronicosOffline
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=
TerminalOptions=
Type=
X-KDE-SubstituteUID=false
X-KDE-Username=root

# created by com.izforge.izpack.util.os.Unix_Shortcut $Revision$
# $Id$