[Desktop Entry]
Categories=
Comment=Desinstalador Comprobantes Offline
Comment[es]=Desinstalador Comprobantes Offline
Exec=/home/todaraba/Documentos/sicofac/ComprobantesElectronicosOffline/Uninstaller/uninstaller.jar -jar /home/todaraba/Documentos/sicofac/ComprobantesElectronicosOffline/Uninstaller/uninstaller.jar;
GenericName=
GenericName[es]=
Icon=/home/todaraba/Documentos/sicofac/ComprobantesElectronicosOffline/Icons/trash.ico
MimeType=
Name=Uninstaller
Name[es]=Uninstaller
Path=/home/todaraba/Documentos/sicofac/ComprobantesElectronicosOffline
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=
TerminalOptions=
Type=
X-KDE-SubstituteUID=false
X-KDE-Username=root

# created by com.izforge.izpack.util.os.Unix_Shortcut $Revision$
# $Id$